<%= form_with model: @purchase do |form| %>
	<% @purchase.errors.full_messages.each do |error| %>
		<div>
			<%= error %>
		</div>
	<% end -%>

	<div>
		<%= form.label :numero %>
		<%= form.text_field :numero %>
	</div>
	<div>
		<%= form.label :monto, "Paquete a comprar" %>
		<%= form.select :monto, options_for_select([['10 USD', 10], ['20 USD', 20], ['50 USD', 50], ['100 USD', 100]]) %>
	</div>

	<div>
    <%= form.submit "Nuevo", name: "new" %>
    <%= form.submit "Comprar", name: "button_type", value: "comprar" %>
  </div> <br>
  <div>
    <%= link_to 'Registrar Usuario', new_user_path %>
  </div>

<% end %>
